{% extends 'base.html' %}
{%block title %} {{ product.name | default:"找不到此書"}} {% endblock %}
{% block content %}
<div class='container' align=center>
{% if product %}
<table>
	<tr><td align=center><h3>{{ product.name }}</h3></td></tr>
		{% for image in images %}
		{% if forloop.first %}
			<tr><td align=center>
		{% endif %}
			<img src='{{image.url}}'width=350><br>
		{% if forloop.last %}
			</td></tr>
		{% endif %}
	{% empty %}
		<tr><td align=center>暫無圖片</td></tr>
	{% endfor %}

	<tr><td align=center><br>   &emsp;&emsp;{{ product.description }}</td></tr>
	<tr><td align=center><br>西元{{ product.year }}年出版</td></tr>
	<tr><td align=center><br>售價:NT${{ product.price }}元</td></tr>
</table>
{% else %}
<h2>找不到此書</h2>
{% endif %}
</div>
{% endblock %}